In [163]:
# F1 driver PowerBi Project

In [164]:
# plan
# 1. Create a jupyter file and perform some data cleaning in python.
# 2. import a new excel file and import it in powerBi and perform remaining data cleaning and transformation in powerBI.

# F1 driver dataset preprocessing

In [165]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.preprocessing import LabelEncoder
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [166]:
df = pd.read_csv('F1Drivers_Dataset.csv', encoding_errors='ignore')

In [167]:
df.head()

,Driver,Nationality,Seasons,Championships,Race_Entries,Race_Starts,Pole_Positions,Race_Wins,Podiums,Fastest_Laps,...,Championship Years,Decade,Pole_Rate,Start_Rate,Win_Rate,Podium_Rate,FastLap_Rate,Points_Per_Entry,Years_Active,Champion
0,Carlo Abate,Italy,"[1962, 1963]",0,3,0,0,0,0,0,...,NaN,1960,0.0,0.000000,0.0,0.0,0.0,0.000000,2,False
1,George Abecassis,United Kingdom,"[1951, 1952]",0,2,2,0,0,0,0,...,NaN,1950,0.0,1.000000,0.0,0.0,0.0,0.000000,2,False
2,Kenny Acheson,United Kingdom,"[1983, 1985]",0,10,3,0,0,0,0,...,NaN,1980,0.0,0.300000,0.0,0.0,0.0,0.000000,2,False
3,Andrea de Adamich,Italy,"[1968, 1970, 1971, 1972, 1973]",0,36,30,0,0,0,0,...,NaN,1970,0.0,0.833333,0.0,0.0,0.0,0.166667,5,False
4,Philippe Adams,Belgium,[1994],0,2,2,0,0,0,0,...,NaN,1990,0.0,1.000000,0.0,0.0,0.0,0.000000,1,False

In [168]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868 entries, 0 to 867
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Driver              868 non-null    object
 1   Nationality         868 non-null    object
 2   Seasons             868 non-null    object
 3   Championships       868 non-null    int64
 4   Race_Entries        868 non-null    int64
 5   Race_Starts         868 non-null    int64
 6   Pole_Positions      868 non-null    int64
 7   Race_Wins           868 non-null    int64
 8   Podiums             868 non-null    int64
 9   Fastest_Laps        868 non-null    int64
 10  Points              868 non-null    float64
 11  Active              868 non-null    bool
 12  Championship Years  34 non-null     object
 13  Decade              868 non-null    int64
 14  Pole_Rate           868 non-null    float64
 15  Start_Rate          868 non-null    float64
 16  Win_Rate            868 non-null    float64
 17  Podium_Rate         868 non-null    float64
 18  FastLap_Rate        868 non-null    float64
 19  Points_Per_Entry    868 non-null    float64
 20  Years_Active        868 non-null    int64
 21  Champion            868 non-null    bool
dtypes: bool(2), float64(7), int64(9), object(4)
memory usage: 137.4+ KB

In [174]:
df.head()

,Driver,Nationality,Seasons,Championships,Race_Entries,Race_Starts,Pole_Positions,Race_Wins,Podiums,Fastest_Laps,...,Decade,Pole_Rate,Start_Rate,Win_Rate,Podium_Rate,FastLap_Rate,Points_Per_Entry,Years_Active,Champion,Total_seasons
0,Carlo Abate,Italy,"[1962, 1963]",0,3,0,0,0,0,0,...,1960,0.0,0.000000,0.0,0.0,0.0,0.000000,2,False,3
1,George Abecassis,United Kingdom,"[1951, 1952]",0,2,2,0,0,0,0,...,1950,0.0,1.000000,0.0,0.0,0.0,0.000000,2,False,3
2,Kenny Acheson,United Kingdom,"[1983, 1985]",0,10,3,0,0,0,0,...,1980,0.0,0.300000,0.0,0.0,0.0,0.000000,2,False,3
3,Andrea de Adamich,Italy,"[1968, 1970, 1971, 1972, 1973]",0,36,30,0,0,0,0,...,1970,0.0,0.833333,0.0,0.0,0.0,0.166667,5,False,3
4,Philippe Adams,Belgium,[1994],0,2,2,0,0,0,0,...,1990,0.0,1.000000,0.0,0.0,0.0,0.000000,1,False,3

In [175]:
# Pole Rate, convert it into percentage.

df['Pole_Rate'] = df['Pole_Rate'].apply(lambda x: x*100)

In [176]:
df.head(20)

,Driver,Nationality,Seasons,Championships,Race_Entries,Race_Starts,Pole_Positions,Race_Wins,Podiums,Fastest_Laps,...,Decade,Pole_Rate,Start_Rate,Win_Rate,Podium_Rate,FastLap_Rate,Points_Per_Entry,Years_Active,Champion,Total_seasons
0,Carlo Abate,Italy,"[1962, 1963]",0,3,0,0,0,0,0,...,1960,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2,False,3
1,George Abecassis,United Kingdom,"[1951, 1952]",0,2,2,0,0,0,0,...,1950,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2,False,3
2,Kenny Acheson,United Kingdom,"[1983, 1985]",0,10,3,0,0,0,0,...,1980,0.000000,0.300000,0.000000,0.000000,0.000000,0.000000,2,False,3
3,Andrea de Adamich,Italy,"[1968, 1970, 1971, 1972, 1973]",0,36,30,0,0,0,0,...,1970,0.000000,0.833333,0.000000,0.000000,0.000000,0.166667,5,False,3
4,Philippe Adams,Belgium,[1994],0,2,2,0,0,0,0,...,1990,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1,False,3
5,Walt Ader,United States,[1950],0,1,1,0,0,0,0,...,1950,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1,False,3
6,Kurt Adolff,West Germany,[1953],0,1,1,0,0,0,0,...,1950,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1,False,3
7,Fred Agabashian,United States,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957]",0,9,8,1,0,0,0,...,1950,11.111111,0.888889,0.000000,0.000000,0.000000,0.166667,8,False,3
8,Kurt Ahrens Jr.,West Germany,"[1966, 1967, 1968, 1969]",0,4,4,0,0,0,0,...,1970,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,4,False,3
9,Jack Aitken,United Kingdom,[2020],0,1,1,0,0,0,0,...,2020,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1,False,3
10,Christijan Albers,Netherlands,"[2005, 2006, 2007]",0,46,46,0,0,0,0,...,2010,0.000000,1.000000,0.000000,0.000000,0.000000,0.086957,3,False,3
11,Alexander Albon,Thailand,"[2019, 2020, 2022]",0,61,60,0,0,2,0,...,2020,0.000000,0.983607,0.000000,0.032787,0.000000,3.311475,3,False,3
12,Michele Alboreto,Italy,"[1981, 1982, 1983, 1984, 1985, 1986, 1987, 198...",0,215,194,2,5,23,5,...,1990,0.930233,0.902326,0.023256,0.106977,0.023256,0.867442,14,False,3
13,Jean Alesi,France,"[1989, 1990, 1991, 1992, 1993, 1994, 1995, 199...",0,202,201,2,1,32,4,...,2000,0.990099,0.995050,0.004950,0.158416,0.019802,1.193069,13,False,3
14,Jaime Alguersuari,Spain,"[2009, 2010, 2011]",0,46,46,0,0,0,0,...,2010,0.000000,1.000000,0.000000,0.000000,0.000000,0.673913,3,False,3
15,Philippe Alliot,France,"[1984, 1985, 1986, 1987, 1988, 1989, 1990, 199...",0,116,109,0,0,0,0,...,1990,0.000000,0.939655,0.000000,0.000000,0.000000,0.060345,9,False,3
16,Cliff Allison,United Kingdom,"[1958, 1959, 1960, 1961]",0,18,16,0,0,1,0,...,1960,0.000000,0.888889,0.000000,0.055556,0.000000,0.611111,4,False,3
17,Fernando Alonso,Spain,"[2001, 2003, 2004, 2005, 2006, 2007, 2008, 200...",2,359,356,22,32,99,23,...,2010,6.128134,0.991643,0.089136,0.275766,0.064067,5.782730,19,True,3
18,Giovanna Amati,Italy,[1992],0,3,0,0,0,0,0,...,1990,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,False,3
19,George Amick,United States,[1958],0,2,1,0,0,1,0,...,1960,0.000000,0.500000,0.000000,0.500000,0.000000,3.000000,1,False,3

In [177]:
df['Pole_Rate'] = round(df['Pole_Rate'], 2)

In [178]:
df['Pole_Rate'].head(20)

0      0.00
1      0.00
2      0.00
3      0.00
4      0.00
5      0.00
6      0.00
7     11.11
8      0.00
9      0.00
10     0.00
11     0.00
12     0.93
13     0.99
14     0.00
15     0.00
16     0.00
17     6.13
18     0.00
19     0.00
Name: Pole_Rate, dtype: float64

In [179]:
df['Start_Rate'] = df['Start_Rate'].apply(lambda x: x*100)
df['Start_Rate'] = round(df['Start_Rate'], 2)
df.head()

,Driver,Nationality,Seasons,Championships,Race_Entries,Race_Starts,Pole_Positions,Race_Wins,Podiums,Fastest_Laps,...,Decade,Pole_Rate,Start_Rate,Win_Rate,Podium_Rate,FastLap_Rate,Points_Per_Entry,Years_Active,Champion,Total_seasons
0,Carlo Abate,Italy,"[1962, 1963]",0,3,0,0,0,0,0,...,1960,0.0,0.00,0.0,0.0,0.0,0.000000,2,False,3
1,George Abecassis,United Kingdom,"[1951, 1952]",0,2,2,0,0,0,0,...,1950,0.0,100.00,0.0,0.0,0.0,0.000000,2,False,3
2,Kenny Acheson,United Kingdom,"[1983, 1985]",0,10,3,0,0,0,0,...,1980,0.0,30.00,0.0,0.0,0.0,0.000000,2,False,3
3,Andrea de Adamich,Italy,"[1968, 1970, 1971, 1972, 1973]",0,36,30,0,0,0,0,...,1970,0.0,83.33,0.0,0.0,0.0,0.166667,5,False,3
4,Philippe Adams,Belgium,[1994],0,2,2,0,0,0,0,...,1990,0.0,100.00,0.0,0.0,0.0,0.000000,1,False,3

In [180]:
df['Win_Rate'] = df['Win_Rate'].apply(lambda x: x*100)
df['Win_Rate'] = round(df['Win_Rate'], 2)
df.head()

,Driver,Nationality,Seasons,Championships,Race_Entries,Race_Starts,Pole_Positions,Race_Wins,Podiums,Fastest_Laps,...,Decade,Pole_Rate,Start_Rate,Win_Rate,Podium_Rate,FastLap_Rate,Points_Per_Entry,Years_Active,Champion,Total_seasons
0,Carlo Abate,Italy,"[1962, 1963]",0,3,0,0,0,0,0,...,1960,0.0,0.00,0.0,0.0,0.0,0.000000,2,False,3
1,George Abecassis,United Kingdom,"[1951, 1952]",0,2,2,0,0,0,0,...,1950,0.0,100.00,0.0,0.0,0.0,0.000000,2,False,3
2,Kenny Acheson,United Kingdom,"[1983, 1985]",0,10,3,0,0,0,0,...,1980,0.0,30.00,0.0,0.0,0.0,0.000000,2,False,3
3,Andrea de Adamich,Italy,"[1968, 1970, 1971, 1972, 1973]",0,36,30,0,0,0,0,...,1970,0.0,83.33,0.0,0.0,0.0,0.166667,5,False,3
4,Philippe Adams,Belgium,[1994],0,2,2,0,0,0,0,...,1990,0.0,100.00,0.0,0.0,0.0,0.000000,1,False,3

In [181]:
df['Podium_Rate'] = df['Podium_Rate'].apply(lambda x: x*100)
df['Podium_Rate'] = round(df['Podium_Rate'], 2)
df.head()

,Driver,Nationality,Seasons,Championships,Race_Entries,Race_Starts,Pole_Positions,Race_Wins,Podiums,Fastest_Laps,...,Decade,Pole_Rate,Start_Rate,Win_Rate,Podium_Rate,FastLap_Rate,Points_Per_Entry,Years_Active,Champion,Total_seasons
0,Carlo Abate,Italy,"[1962, 1963]",0,3,0,0,0,0,0,...,1960,0.0,0.00,0.0,0.0,0.0,0.000000,2,False,3
1,George Abecassis,United Kingdom,"[1951, 1952]",0,2,2,0,0,0,0,...,1950,0.0,100.00,0.0,0.0,0.0,0.000000,2,False,3
2,Kenny Acheson,United Kingdom,"[1983, 1985]",0,10,3,0,0,0,0,...,1980,0.0,30.00,0.0,0.0,0.0,0.000000,2,False,3
3,Andrea de Adamich,Italy,"[1968, 1970, 1971, 1972, 1973]",0,36,30,0,0,0,0,...,1970,0.0,83.33,0.0,0.0,0.0,0.166667,5,False,3
4,Philippe Adams,Belgium,[1994],0,2,2,0,0,0,0,...,1990,0.0,100.00,0.0,0.0,0.0,0.000000,1,False,3

In [182]:
df['FastLap_Rate'] = df['FastLap_Rate'].apply(lambda x: x*100)
df['FastLap_Rate'] = round(df['FastLap_Rate'], 2)
df.head()

,Driver,Nationality,Seasons,Championships,Race_Entries,Race_Starts,Pole_Positions,Race_Wins,Podiums,Fastest_Laps,...,Decade,Pole_Rate,Start_Rate,Win_Rate,Podium_Rate,FastLap_Rate,Points_Per_Entry,Years_Active,Champion,Total_seasons
0,Carlo Abate,Italy,"[1962, 1963]",0,3,0,0,0,0,0,...,1960,0.0,0.00,0.0,0.0,0.0,0.000000,2,False,3
1,George Abecassis,United Kingdom,"[1951, 1952]",0,2,2,0,0,0,0,...,1950,0.0,100.00,0.0,0.0,0.0,0.000000,2,False,3
2,Kenny Acheson,United Kingdom,"[1983, 1985]",0,10,3,0,0,0,0,...,1980,0.0,30.00,0.0,0.0,0.0,0.000000,2,False,3
3,Andrea de Adamich,Italy,"[1968, 1970, 1971, 1972, 1973]",0,36,30,0,0,0,0,...,1970,0.0,83.33,0.0,0.0,0.0,0.166667,5,False,3
4,Philippe Adams,Belgium,[1994],0,2,2,0,0,0,0,...,1990,0.0,100.00,0.0,0.0,0.0,0.000000,1,False,3

In [183]:
df.head(20)

,Driver,Nationality,Seasons,Championships,Race_Entries,Race_Starts,Pole_Positions,Race_Wins,Podiums,Fastest_Laps,...,Decade,Pole_Rate,Start_Rate,Win_Rate,Podium_Rate,FastLap_Rate,Points_Per_Entry,Years_Active,Champion,Total_seasons
0,Carlo Abate,Italy,"[1962, 1963]",0,3,0,0,0,0,0,...,1960,0.00,0.00,0.00,0.00,0.00,0.000000,2,False,3
1,George Abecassis,United Kingdom,"[1951, 1952]",0,2,2,0,0,0,0,...,1950,0.00,100.00,0.00,0.00,0.00,0.000000,2,False,3
2,Kenny Acheson,United Kingdom,"[1983, 1985]",0,10,3,0,0,0,0,...,1980,0.00,30.00,0.00,0.00,0.00,0.000000,2,False,3
3,Andrea de Adamich,Italy,"[1968, 1970, 1971, 1972, 1973]",0,36,30,0,0,0,0,...,1970,0.00,83.33,0.00,0.00,0.00,0.166667,5,False,3
4,Philippe Adams,Belgium,[1994],0,2,2,0,0,0,0,...,1990,0.00,100.00,0.00,0.00,0.00,0.000000,1,False,3
5,Walt Ader,United States,[1950],0,1,1,0,0,0,0,...,1950,0.00,100.00,0.00,0.00,0.00,0.000000,1,False,3
6,Kurt Adolff,West Germany,[1953],0,1,1,0,0,0,0,...,1950,0.00,100.00,0.00,0.00,0.00,0.000000,1,False,3
7,Fred Agabashian,United States,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957]",0,9,8,1,0,0,0,...,1950,11.11,88.89,0.00,0.00,0.00,0.166667,8,False,3
8,Kurt Ahrens Jr.,West Germany,"[1966, 1967, 1968, 1969]",0,4,4,0,0,0,0,...,1970,0.00,100.00,0.00,0.00,0.00,0.000000,4,False,3
9,Jack Aitken,United Kingdom,[2020],0,1,1,0,0,0,0,...,2020,0.00,100.00,0.00,0.00,0.00,0.000000,1,False,3
10,Christijan Albers,Netherlands,"[2005, 2006, 2007]",0,46,46,0,0,0,0,...,2010,0.00,100.00,0.00,0.00,0.00,0.086957,3,False,3
11,Alexander Albon,Thailand,"[2019, 2020, 2022]",0,61,60,0,0,2,0,...,2020,0.00,98.36,0.00,3.28,0.00,3.311475,3,False,3
12,Michele Alboreto,Italy,"[1981, 1982, 1983, 1984, 1985, 1986, 1987, 198...",0,215,194,2,5,23,5,...,1990,0.93,90.23,2.33,10.70,2.33,0.867442,14,False,3
13,Jean Alesi,France,"[1989, 1990, 1991, 1992, 1993, 1994, 1995, 199...",0,202,201,2,1,32,4,...,2000,0.99,99.50,0.50,15.84,1.98,1.193069,13,False,3
14,Jaime Alguersuari,Spain,"[2009, 2010, 2011]",0,46,46,0,0,0,0,...,2010,0.00,100.00,0.00,0.00,0.00,0.673913,3,False,3
15,Philippe Alliot,France,"[1984, 1985, 1986, 1987, 1988, 1989, 1990, 199...",0,116,109,0,0,0,0,...,1990,0.00,93.97,0.00,0.00,0.00,0.060345,9,False,3
16,Cliff Allison,United Kingdom,"[1958, 1959, 1960, 1961]",0,18,16,0,0,1,0,...,1960,0.00,88.89,0.00,5.56,0.00,0.611111,4,False,3
17,Fernando Alonso,Spain,"[2001, 2003, 2004, 2005, 2006, 2007, 2008, 200...",2,359,356,22,32,99,23,...,2010,6.13,99.16,8.91,27.58,6.41,5.782730,19,True,3
18,Giovanna Amati,Italy,[1992],0,3,0,0,0,0,0,...,1990,0.00,0.00,0.00,0.00,0.00,0.000000,1,False,3
19,George Amick,United States,[1958],0,2,1,0,0,1,0,...,1960,0.00,50.00,0.00,50.00,0.00,3.000000,1,False,3

In [184]:
df.to_csv("f1_cleaned.csv", index=False)

In [185]:
# Questions to be answered in powerBI dashboard ?

# 1. Who are the top 10 drivers with highest number of Pole Positions? - Done
# 2. Which player has the highest number of wins on his name? - Done
# 3. Which player has the most points per entry? -  
# 4. Name the most decorated player in F1? - Done
# 5. Plot a world map and tell which nation has most F1 drivers? - Done
# 6. Which country has most champions? - Done
# 7. Name the player with the Fastest lap in F1 carrer?